################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/JGL_MeshLoader/Debug
/JGL_MeshLoader/.vs/JGL_MeshLoader/v16
/JGL_MeshLoader/x64/Debug
/JGL_MeshLoader/libs/assimp/assimpd.exp
/JGL_MeshLoader/libs/assimp/unit.exp
/JGL_MeshLoader/libs/assimp/unit.lib
/JGL_MeshLoader/.vs/JGL_Projects/v16
/x64/Debug
